{% extends 'backend/base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}
{% block page_title %}Gestion de la Boutique{% endblock %}
{% block breadcrumb %}
    <a href="{{ path('app_produit_index') }}" class="breadcrumb-item">Produits</a>
    <li class="breadcrumb-item active">Nouveau</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-primary text-white">
                <h6 class="m-0 font-weight-bold">
                    <i class="fas fa-box me-2"></i>Ajouter un nouveau produit
                </h6>
            </div>
            <div class="card-body">
                {{ include('produit/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
