{% extends 'backend/base.html.twig' %}

{% block title %}Modifier la catégorie boutique{% endblock %}
{% block page_title %}Gestion de la Boutique{% endblock %}
{% block breadcrumb %}
    <a href="{{ path('app_categorie_magasin_index') }}" class="breadcrumb-item">Catégories boutique</a>
    <li class="breadcrumb-item active">Modifier</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-success text-white">
                <h6 class="m-0 font-weight-bold">
                    <i class="fas fa-edit me-2"></i>Modifier la catégorie boutique
                </h6>
            </div>
            <div class="card-body">
                {{ include('categorie_magasin/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
            <div class="card-footer bg-white">
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_categorie_magasin_index') }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-2"></i>Retour à la liste
                    </a>
                    {{ include('categorie_magasin/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
