{% extends 'backend/base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    <style>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css"
        integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    #calendrier{
        width: 50%;
        margin: auto;
    }
    </style>
{% endblock %}

{% block body %}

<div id="calendrier">
</div>
{% endblock %}

