<form method="post" action="{{ path('app_activites_delete', {'code': activite.code}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.code) }}">
    <button class="btn btn-danger" style="width:15% !important; margin-left: 25%; margin-top: -73px;">
        <i class="fas fa-trash-alt"></i> Delete
    </button>
</form>
